.tabela-renderizada {
    margin: 18px 0 10px 0;
    width: 50%;
    min-width: 220px;
    max-width: 100%;
    body {
        font-family: 'Segoe UI', sans-serif;
        background: #f3f5f7;
        margin: 0;
        padding: 0;
    }

    .container {
        text-align: center;
        padding: 40px;
    }
    overflow: hidden;
